.container {
    max-width: 100%;
    margin: 0 auto;
    display: grid;
}

.pic-container {
    margin-top: 90px;
}

.pic {
    max-width: 250px;
}

@media (min-width: 764px) {
    .container { grid-template-columns: 1fr 2fr;}
}

@media (max-width: 764px) {
    .title { text-align: center; }
    .pic { max-width: 250px; }
}

@media (max-width: 1024px) {
    .pic { max-width: 200px; }
}

@media (max-width: 320px) {
    .pic-container { margin-top: 0px; }
}